@use 'variables' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $text-size-base;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-base;
  color: $color-text;
  background-color: $color-background;
  line-height: 1.6;
}

ul,
ol {
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
